body {
  background: url('../../assets/img/bg.png');
  box-sizing: border-box;
  font-family:sans-serif
}
* {
  box-sizing: border-box;
  margin: 0px;
}
.logo{
  margin-left: 3%;
}
.center {
  padding: 40px 0;
  -webkit-app-region: drag;
  background: linear-gradient(transparent, #294dff);
  background: linear-gradient(145deg, #001eb3, transparent);
  border-bottom: 1px solid #6680ff;
}
.ev-header {
  max-width: 1600px;
  min-width: 500px;
  height: 80px;
  background-color:#d64cA8;
}
.jMhaxE {
  font-family: Muli;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 2.25rem 2rem;
  text-align: left;
  height: 119px;
}
.dZWmuA {
  display: flex;
  flex-direction: column;
  place-content: center;
  -webkit-box-pack: center;
  max-width: 49rem;
  height: calc(100vh - 119px);
  width: 100%;
  margin: auto;
}
.dGgJti {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.jCuKhl {
  color: rgb(6, 14, 26);
  color: #fdfdfd;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
.gfrEhU {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
}
.kZkIrK {
  background: #0022cc;
  color: rgb(255, 255, 255);
}
.jjPYEX {
  position: absolute;
  top: 1.1rem;
  right: .5rem;
}
.jhPEsL {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0.75rem 0px;
}
.kLkYgd {
  text-align: center;
}
.cpzeTr {
  position: relative;
  width: 22.75rem;
  height: 17.62rem;
  padding: 2.2rem 2.3rem;
  border-radius: 1.875rem;
  color: rgb(255, 255, 255);
}
.LYoKA {
  border: 1px solid #0022cc;
  color: rgb(57, 30, 218);
  background: #e5f4ff;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.njtFn {
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 800;
  margin: 3.4rem auto 0px;
  padding: 1.25rem 2rem;
  text-align: center;
  text-decoration: none;
}
.htLRdL {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.cuIYFB {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.bdDYJz {
  opacity: 0.5;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
}
.hNIPOc {
  background: rgb(101, 76, 247);
}
.cCMgNm {
  background: linear-gradient(rgb(75, 66, 227) 0%, rgb(48, 44, 209) 100%);
}
.jjPYEX img {
  height: 45px
}
.gmjWml {
  height: 5rem;
  width: 11rem;
}
.kCWYTI {
  border-radius: 1.25rem;
  color: #0022cc;
  background-color: #ffffffe6;
  padding: 1.75rem 1.5rem;
  text-align: left;
  font-size: 0.93rem;
  margin: 1.25rem 0px 0px;
}
#downloadorcopy {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#downloadorcopy div {
  display: inline-block;
  margin-right: 1em;
}
.hpHFSK {
  position: relative;
  padding-top: 2rem;
  display: block;
}
.exOFdF {
  position: relative;
  padding: 0.2rem 0px;
  max-width: 24.5rem;
  width: 100%;
}
.bhjKRs {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.fCQiqA {
  color: rgb(116, 128, 152);
  font-size: 0.9rem;
}
label {
  cursor: default;
}
.iGliNw {
  position: relative;
  margin-right: 0.625rem;
  appearance: unset;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(210, 216, 229, 0.4);
  border: 0.125rem solid rgba(210, 216, 229, 0.4);
  border-radius: 0.625rem;
  color: rgb(57, 30, 218);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.fEpwRc {
  color: rgb(244, 39, 3);
  font-size: 0.8125rem;
  padding: 0.25rem 0px 0.75rem;
  text-align: center;
  line-height: 1;
  display: block;
}
#nextbtn {
  width: 12.375rem;
  display: block;
  margin: 0px auto;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.45rem;
  border-radius: 1.25rem;
  background: linear-gradient(rgb(75, 66, 227) 0%, rgb(48, 44, 209) 100%);
  color: rgb(255, 255, 255);
  border: none;
  appearance: none;
  transition: all 0.15s ease-in-out 0s;
  white-space: nowrap;
  box-shadow: 0px 0px 0px 1px #7b88d1;
}
.knnrxv {
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}
.exOFdF {
  position: relative;
  padding: 0.2rem 0px;
  max-width: 24.5rem;
  width: 100%;
}
.gtBwZZ {
  background: #d64cA8;
  background: #e5f4ff;
  border-radius: 30px;
  font-size: 1.125rem;
  margin: 2rem 0px 1rem;
  margin: 1rem;
  min-height: 4rem;
  padding: 1.68rem 2.31rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
  color: white;
  color: #391eda;
  text-shadow: none;
}
.jMrVnB {
  color: #391eda;
  font-size: 1rem;
  position: absolute;
  text-shadow: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.knnrxv {
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}
#submit {
  width: 12.375rem;
  display: block;
  margin: 0px auto;
  font-size: 0.8rem;
  margin-top: 30px;
  font-weight: 600;
  padding: 1.45rem;
  border-radius: 1.25rem;
  background: linear-gradient(rgb(75, 66, 227) 0%, rgb(48, 44, 209) 100%);
  color: rgb(255, 255, 255);
  border: none;
  appearance: none;
  transition: all 0.15s ease-in-out 0s;
  white-space: nowrap;
}
.fKLEUn{
  padding:10px;
  height: 7.5rem;
}
.backbtn{
  position: absolute;
  top: calc(119px + 1rem);
  left: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(210, 213, 219);
  border-radius: 0.625rem;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
}
.bokBDO {
  border-radius: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  margin: 0px 0px 0px 0.5rem;
  padding: 0px;
  width: 1.5rem;
}
.eZiEu {
  color: rgb(116, 128, 152);
  color: #fdfdfd;
  font-weight: 400;
  font-size: 0.9rem;
  max-width: 23rem;
}
.fwjTzB {
  background: rgba(210, 216, 229, 0.4);
  background: #ffffffe6;
  text-shadow: none;
  border: 0px;
  border-radius: 1.875rem;
  box-sizing: border-box;
  color: rgb(57, 30, 218);
  font-size: 1.125rem;
  height: 96px;
  line-height: 96px;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}
.dugqNO {
  display: flex;
  flex-flow: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-bottom: 3rem;
}
.cGnDyB {
  display: none;
}
#confirm-btn {
  width: 12.375rem;
  display: block;
  margin: 0px auto;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.45rem;
  border-radius: 1.25rem;
  background: linear-gradient(rgb(75, 66, 227) 0%, rgb(48, 44, 209) 100%);
  color: rgb(255, 255, 255);
  border: none;
  appearance: none;
  transition: all 0.15s ease-in-out 0s;
  white-space: nowrap;
}
.cUWXXc {
  border: 1px solid rgb(57, 30, 218);
  border-radius: 1rem;
  color: rgb(57, 30, 218);
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  font-size: 0.75rem;
  margin: 3px;
  padding: 0.7rem 1.75rem;
}
.phrase{
  color: rgb(57, 30, 218);
  color: #fdfdfd;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  margin: 3px;
}
#btnclick{
  border-radius: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  margin: 0px 0px 0px 0.5rem;
  padding: 0px;
  width: 1.5rem;
}
.jHEhAp {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
}
.gtjlvQ {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 0px 0px 2rem;
  text-align: center;
  margin: 0px auto;
  color: rgb(255, 255, 255);
  max-width: 39.5rem;
}
.gQtfxQ {
  position: relative;
  padding: 1rem 0px;
}
.cLhSYu {
  height: 7.5rem;
}
.hwCNyq {
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  color: #d2d6ef;
  font-size: 2.6rem;
  line-height: 2.75rem;
  margin: 2.5rem 0px 3rem;
}
.lgVGIS {
  margin: auto;
  color: #000;
  color: #d2d6ef;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 24.375rem;
}
.czwUhv {
  display: inline-block;
  margin-top: -0.4rem;
  max-width: 1.875rem;
  max-height: 1.875rem;
  vertical-align: middle;
}
.hanhiD {
  color: rgb(255, 255, 255);
  color: #0022cc;
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 0.65rem;
  margin: 0px;
}
.bEthKq {
  padding: 0px 1.3rem;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.lkiIWD {
  background: rgb(101, 76, 247);
  margin: 2.5rem auto 0px;
}
.dryRrI img {
  transform: rotate(180deg);
  width: 0.8rem;
  height: 0.8rem;
}
.dryRrI {
  position: absolute;
  top: calc(119px + 1rem);
  left: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(210, 213, 219);
  border-radius: 0.625rem;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
}
button {
  appearance: auto;
  writing-mode: horizontal-tb ;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
}
.eEthnu {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  -webkit-box-pack: center;
  height: calc(100vh - 119px);
  max-height: 40rem;
  max-width: 57rem;
  width: 100%;
  margin: auto;
}
.kiRdWm {
  position: relative;
}
.loSOCs {
  height: 6.25rem;
}
.cIlxaw {
  color: rgb(57, 30, 218);
  color: #0022cc;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 1.25rem 0px;
  max-width: 21rem;
}
.gwofgg {
  flex-flow: column wrap;
}
.bfsfLR {
  padding-left: 1.55rem;
}
.fkCSEE {
  display: flex;
  color: #fdfdfd;
  text-shadow: 0 0 1px black;
  background: #ffffff21;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 27rem;
}
.dmZfmQ {
  border-radius: 1.25rem;
  border: 0px;
  box-sizing: border-box;
  background: #ffffffe6;
  font-size: 1rem;
  padding: 1.875rem 2.25rem;
  width: 100%;
  resize: none;
  transition: all 0.15s ease-in-out 0s;
}
.wBAUy {
  padding: 1.25rem 0px 2.5rem;
}
.kEbvQ {
  color: rgb(116, 128, 152);
  color: #d2d6ef;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}
.eejAfV {
  width: 12.375rem;
  display: block;
  margin: 0px auto;
  font-size: large;
  font-weight: 600;
  padding: 1.45rem;
  border-radius: 1.25rem;
  background: linear-gradient(rgb(75, 66, 227) 0%, rgb(48, 44, 209) 100%);
  color: rgb(255, 255, 255);
  border: none;
  appearance: none;
  transition: all 0.15s ease-in-out 0s;
  white-space: nowrap;
  margin-top: 10px;
}
.link {
  color: blue;
  text-decoration-line: underline;
}
.link:active {
  color: rgb(62, 62, 241);
}
.highlight {
    color: #FFEB3B;
    font-size: 1.05em;
}
.import {
  float:left;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
#pharsetext {
  border-radius: 1.25rem;
  border: 0px;
  box-sizing: border-box;
  background: rgba(227, 229, 233, 0.767);
  font-size: 1rem;
  padding: 1.875rem 2.25rem;
  width: 100%;
  resize: none;
  transition: all 0.15s ease-in-out 0s;
  min-height: 10rem;
  margin-top: 2rem;
  
}